#grid1 { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    }

#grid1 > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
}

#grid2 { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

#grid2 > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
}

#grid3 { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

#grid3 > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
}

.container {
    border: 5px solid gold;
    padding: 10px;
    margin: 10px;
}